layout_python 
[[ -f ENV ]] && . ENV
[[ -f ENV.local ]] && . ENV.local
export PATH=`pwd`/node_modules/.bin:`pwd`/utils:$PATH
# export AWS_PROFILE=irdn
# export AWS_REGION=eu-west-1
aws-sso-login irdn

