layout_python /home/sindri/sources/pyenv/versions/3.8.5/bin/python
[[ -f ENV ]] && . ENV
[[ -f ENV.local ]] && . ENV.local
export PATH=`pwd`/node_modules/.bin:`pwd`/utils:$PATH
export AWS_PROFILE=irdn

