# See https://help.github.com/ignore-files/ for more about ignoring files.

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/venv/
/.direnv/

/api/skyrsla/suds/

/api/skyrsla/suds_py3-1.3.3.0.dist-info/

/node_modules/

/api/*.zip

/api/ruv/bin/

/api/ruv/certifi-2018.4.16.dist-info/

/api/ruv/requests-2.19.1.dist-info/

/api/ruv/requests/

/api/ruv/urllib3-1.23.dist-info/

/api/ruv/urllib3/

/api/ruv/certifi/

/api/ruv/chardet-3.0.4.dist-info/

/api/ruv/chardet/

/api/ruv/idna-2.7.dist-info/

/api/ruv/idna/

/api/ruv/certifi-2019.3.9.dist-info/

/api/ruv/idna-2.8.dist-info/

/api/ruv/requests-2.22.0.dist-info/

/api/ruv/urllib3-1.25.3.dist-info/

/api/ruv/certifi-2019.6.16.dist-info/

/klukka.zip

/ENV.local

/Vallarklukka-win32-x64/

.terraform/
.aws-sam/
/vikes-match-clock.sublime-workspace
/cypress/videos/
/.venv
