{"openapi":"3.0.1","info":{"title":"REST API - COMET LIVE - PROD POSTGRESQL","description":"COMET LIVE Backend REST API for real-time use in frontend applications such as COMET LIVE iOS and Android Apps","version":"v1"},"servers":[{"url":"https://api-ksi.analyticom.de","description":"Generated server url"}],"tags":[{"name":"Competition Data API for Live Apps","description":"API for querying Competition, Match and Statistical Data from COMET"},{"name":"Account management api for mobile application","description":"Account Controller"},{"name":"Utility API for Live Web Apps","description":"API for utility functions, such as search"}],"paths":{"/api/live/team/{teamId}/teams":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Club Teams","description":"List of teams underneath a specific club","operationId":"getClubTeams","parameters":[{"name":"teamId","in":"path","description":"COMET ID of the club/team, e.g. 823567","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It returns the data if the team belongs to organization's hierarchy or it participates in the competition organized by the organization.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It returns the data if the team belongs to the team's hierarchy.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}}}}},"/api/live/team/{teamId}/matches/paginated/past/{utcOffset}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Team Matches Past and Today","description":"List of matches of a specific club/team in the past, with all today's matches included. List is ordered by dateTimeUTC of the match descending. Attribute 'allowDetail' defines if the caller has permission to call match details endpoints for the match","operationId":"getPastTeamMatches","parameters":[{"name":"teamId","in":"path","description":"COMET ID of the club/team, e.g. 823567","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"utcOffset","in":"path","description":"Offset from UTC in hours e.g. 2 or -7","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"page to retrieve (starts from 1)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"size of the page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the team belongs to organization's hierarchy or it participates in the competition organized by the organization.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team belongs to the team's hierarchy.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResults"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}}}}},"/api/live/team/{teamId}/matches/paginated/future/{utcOffset}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Team Matches Future","description":"List of matches of a specific club/team in the future, excluding all today's matches. List is ordered by dateTimeUTC of the match ascending.","operationId":"getNextTeamMatches","parameters":[{"name":"teamId","in":"path","description":"COMET ID of the club/team, e.g. 823567","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"utcOffset","in":"path","description":"Offset from UTC in hours e.g. 2 or -7","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"page to retrieve (starts from 1)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"size of the page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the team belongs to organization's hierarchy or it participates in the competition organized by the organization.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team belongs to the team's hierarchy.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResults"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}}}}},"/api/live/team/{teamId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Team Details","description":"Single representation of a specific club/team","operationId":"getTeamDetails","parameters":[{"name":"teamId","in":"path","description":"COMET ID of the club/team, e.g. 823567","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It returns the data if the team belongs to organization's hierarchy or it participates in the competition organized by the organization.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It returns the data if the team belongs to the team's hierarchy.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Team"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Team"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Team"}}}}}}},"/api/live/team/search":{"get":{"tags":["Utility API for Live Web Apps"],"summary":"Endpoint used for searching the clubs/teams","operationId":"searchTeams","parameters":[{"name":"keyword","in":"query","description":"search string","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"page to retrieve","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"size of the page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization for filtering data. It is required if API_KEY is restricted by organization. It will filter only teams that belong to the organization or participate in their competitions.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResults"},"example":"{\n    \"result\": [\n        {\n            \"id\": 41001,\n            \"fifaId\": \"105KJ8A\",\n            \"name\": \"OMONOIA FC\",\n            \"picture\": \"f4998a88-dc14-4914-b756-68c687a28518\",\n            \"country\": \"Cyprus\",\n            \"place\": \"LEFKOSIA\",\n            \"address\": \"Leoforos Lemesou 241\nNisou, 2571 LEFKOSIA\",\n            \"latitude\": 35.1855659,\n            \"longitude\": 33.38227639999999,\n            \"hasTeams\": true\n        },\n        {\n            \"id\": 41138,\n            \"fifaId\": \"105KGFC\",\n            \"name\": \"OMONOIA ARADIPPOU\",\n            \"picture\": \"51ae8878-85e1-47b6-b497-e0c85db73405\",\n            \"country\": \"Cyprus\",\n            \"place\": \"LARNAKA\",\n            \"address\": \"ARADIPPOU\\LARNAKA,  LARNAKA\",\n            \"latitude\": 34.9663094,\n            \"longitude\": 33.5839983,\n            \"hasTeams\": false\n        }\n    ],\n    \"size\": 21\n}"}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsTeam"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsTeam"}}}}}}},"/api/live/team/fifaId/{fifaId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Team Details by FIFA ID","description":"Single representation of a specific club/team by FIFA ID","operationId":"getTeamDetailsByFIFAId","parameters":[{"name":"fifaId","in":"path","description":"FIFA ID of the club/team, e.g. 8A4XYE7","required":true,"schema":{"type":"string"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It returns the data if the team belongs to organization's hierarchy or it participates in the competition organized by the organization.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It returns the data if the team belongs to the team's hierarchy.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Team"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Team"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Team"}}}}}}},"/api/live/player/{personId}/stats":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Player Competition Statistics","description":"Statistics of an individual player, grouped by competitions where the player had appearances. Attribute 'allowDetail' defines if the caller has permission to call competition details endpoints for the competition","operationId":"getPlayerStatistics","parameters":[{"name":"personId","in":"path","description":"COMET ID of the player, e.g. 443275","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerCompetitionStats"}}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerCompetitionStats"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerCompetitionStats"}}}}}}}},"/api/live/player/{personId}/stats/{teamId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Player Competition Statistics","description":"Statistics of an individual player, grouped by competitions where the player had appearances. Attribute 'allowDetail' defines if the caller has permission to call competition details endpoints for the competition","operationId":"getPlayerStatistics_2","parameters":[{"name":"personId","in":"path","description":"COMET ID of the player, e.g. 443275","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"teamId","in":"path","description":"COMET ID of the club/team to filter matches for stats, e.g. 823567","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerCompetitionStats"}}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerCompetitionStats"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerCompetitionStats"}}}}}}}},"/api/live/player/{personId}/matches/paginated/all":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Player Match Appearances","description":"List of match appearances for a specific player. The list is ordered by dateTimeUTC of the match. Attribute 'allowDetail' defines if the caller has permission to call match details endpoints for the match","operationId":"getPlayerMatches","parameters":[{"name":"personId","in":"path","description":"COMET ID of the player, e.g. 443275","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"page to retrieve (starts from 1)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"size of the page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It filters matches and shows only the ones where the player played for the team.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResults"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}}}}},"/api/live/player/{personId}/matches/paginated/{teamId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Player Match Appearances","description":"List of match appearances for a specific player. The list is ordered by dateTimeUTC of the match. Attribute 'allowDetail' defines if the caller has permission to call match details endpoints for the match","operationId":"getPlayerMatches_2","parameters":[{"name":"personId","in":"path","description":"COMET ID of the player, e.g. 443275","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"teamId","in":"path","description":"COMET ID of the team to filter the matches, e.g. 112233","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"page to retrieve (starts from 1)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"size of the page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It filters matches and shows only the ones where the player played for the team.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResults"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}}}}},"/api/live/player/{personId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Player Details","description":"Single representation of an individual player","operationId":"getPlayerDetails","parameters":[{"name":"personId","in":"path","description":"COMET ID of the player, e.g. 443275","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data if the player has any (active or inactive) registration to a team of the organization or has any appearance on the competition organized by organization.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the player has a registration for the team (active or inactive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamPlayer"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamPlayer"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamPlayer"}}}}}}},"/api/live/player/search":{"get":{"tags":["Utility API for Live Web Apps"],"summary":"Endpoint used for searching the players","operationId":"searchPlayers","parameters":[{"name":"keyword","in":"query","description":"search string","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"page to retrieve","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"size of the page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization for filtering data. It is required if API_KEY is restricted by organization. It will filter players that had any registration for a club below the organization or he participated in at least one match organized by the organization.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter players that had any registration for a club at any point in his career.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResults"},"example":{"result":[{"personId":11111,"name":"JOHN Fred John","shortName":"JOHN F.","countryOfBirth":"Wales","nationality":"Wales","gender":"Male","age":22,"flag":"065f8e8d-3cfc-9f3f-b4cb-3e0b19dfb385","hideProfile":false},{"personId":22222,"name":"JOHN William John","shortName":"JOHN W.","countryOfBirth":"Wales","nationality":"Wales","gender":"Male","age":30,"flag":"065f8e8d-3cfc-1f3f-b4cb-3e0b19dfb385","hideProfile":false}],"size":35177}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsTeamPlayer"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsTeamPlayer"}}}}}}},"/api/live/player/fifaId/{fifaId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Player Details by FIFA ID","description":"Single representation of an individual player by FIFA ID","operationId":"getPlayerDetailsByFIFAID","parameters":[{"name":"fifaId","in":"path","description":"FIFA ID of the player, e.g. 12HENE7","required":true,"schema":{"type":"string"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data if the player has any (active or inactive) registration to a team of the organization or has any appearance on the competition organized by organization.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the player has a registration for the team (active or inactive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamPlayer"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamPlayer"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamPlayer"}}}}}}},"/api/live/newsSources/{newsSourceId}":{"get":{"tags":["Account management api for mobile application"],"summary":"Reading news source and returning JSON representation","description":"Returns list of news sources configured for given device","operationId":"readNewsSource","parameters":[{"name":"newsSourceId","in":"path","description":"ID of the news source. This is the ID of the news source found in endpoint /device/{deviceId}/newsSources","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewsItem"}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/matchListLite/{date}/{utcOffset}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"List of Matches on a Specific Day","description":"List of matches on a specific day in a specific timezone. Matches are ordered by organization type, competition rank, age category, competition name, competition id, match date/time and match order number. Response is in lite format","operationId":"getMatchListLite","parameters":[{"name":"date","in":"path","description":"Start date of the match in yyyyMMdd format, e.g. 20210712","required":true,"schema":{"type":"string"}},{"name":"utcOffset","in":"path","description":"Offset from UTC in hours e.g. 2 or -7","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization for filtering data. It is required if API_KEY is restricted by organization. It will filter matches from the competitions that are organized by given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter matches of the given team/club or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Match"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/matchListLite/live":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"List of Live Matches","description":"List of matches currently being played and managed in live mode. Matches are ordered by organization type, competition rank, age category, competition name, competition id, match date/time and match order number","operationId":"getMatchListLite_2","parameters":[{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will filter matches from the competitions that are organized by given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter matches of the given team/club or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Match"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/matchList4Map/{date}/{utcOffset}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"List of Matches on a Specific Day","description":"List of matches on a specific day in a specific timezone. Matches are ordered by organization type, competition rank, age category, competition name, competition id, match date/time and match order number. Response includes geolocation of matches.","operationId":"getMatchList4Map","parameters":[{"name":"date","in":"path","description":"Start date of the match in yyyyMMdd format, e.g. 20210712","required":true,"schema":{"type":"string"}},{"name":"utcOffset","in":"path","description":"Offset from UTC in hours e.g. 2 or -7","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will filter matches from the competitions that are organized by given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID It will filter matches of the given team/club or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Match"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/matchList/{date}/{utcOffset}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"List of Matches on a Specific Day","description":"List of matches on a specific day in a specific timezone. Matches are ordered by organization type, competition rank, age category, competition name, competition id, match date/time and match order number.","operationId":"getMatchList","parameters":[{"name":"date","in":"path","description":"Start date of the match in yyyyMMdd format, e.g. 20210712","required":true,"schema":{"type":"string"}},{"name":"utcOffset","in":"path","description":"Offset from UTC in hours e.g. 2 or -7","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization for filtering data. It is required if API_KEY is restricted by organization. It will filter matches from the competitions that are organized by given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter matches of the given team/club or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Match"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/matchList/live":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"List of Live Matches","description":"List of matches currently being played and managed in live mode. Matches are ordered by organization type, competition rank, age category, competition name, competition id, match date/time and match order number","operationId":"getMatchListLive","parameters":[{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will filter matches from the competitions that are organized by given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter matches of the given team/club or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Match"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/match/{matchId}/standings":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Match team standings","description":"Team standings on the match's competition. It is the unofficial standings. If team is playing match at the moment in live mode, there will be a sign of how it's doing in the match (W/D/L). Both teams will have highlight set to true so that mobile app can highlight teams that are playing in this match.","operationId":"getMatchStandings","parameters":[{"name":"matchId","in":"path","description":"COMET ID of the match, e.g. 443251","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the competition is organized by the given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team is participating in the match.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamRanking"}}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamRanking"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamRanking"}}}}}}}},"/api/live/match/{matchId}/lineups":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Team Lineups","description":"Lineups for both clubs/teams in a specific match. The player will have ID if the caller can call the player details endpoint","operationId":"getLineups","parameters":[{"name":"matchId","in":"path","description":"COMET ID of the match, e.g. 443251","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the competition is organized by the given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team is participating in the match.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lineups"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Lineups"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Lineups"}}}}}}},"/api/live/match/{matchId}/info":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Match Additional Details","description":"Single representation of a specific match, with additional match details, such as team kits, referees and officials","operationId":"getMatchInfo","parameters":[{"name":"matchId","in":"path","description":"COMET ID of the match, e.g. 443251","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the competition is organized by the given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team is participating in the match.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchInfo"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MatchInfo"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MatchInfo"}}}}}}},"/api/live/match/{matchId}/h2h/{utcOffset}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Head 2 head list of matches of two teams playing the match","description":"Single representation of a specific match, with standard match information","operationId":"getHead2Head","parameters":[{"name":"matchId","in":"path","description":"COMET ID of the match, e.g. 443251","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"utcOffset","in":"path","description":"Offset from UTC in hours e.g. 2 or -7","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"page to retrieve (starts from 1)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"size of the page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the competition is organized by the given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team is participating in the match.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResults"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultsMatch"}}}}}}},"/api/live/match/{matchId}/events":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Match Events","description":"List of match events for a sepcific match","operationId":"getMatchEvents","parameters":[{"name":"matchId","in":"path","description":"COMET ID of the match, e.g. 443251","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the competition is organized by the given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team is participating in the match.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"showComments","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MatchEvent"}}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MatchEvent"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MatchEvent"}}}}}}}},"/api/live/match/{matchId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Match Info","description":"Single representation of a specific match, with standard match information","operationId":"getMatchDetails","parameters":[{"name":"matchId","in":"path","description":"COMET ID of the match, e.g. 443251","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the match if the competition is organized by the given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the match if the team or it's child is participating in the match.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Match"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Match"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Match"}}}}}}},"/api/live/mapOverlay/{styleName}":{"get":{"tags":["Utility API for Live Web Apps"],"summary":"Map Overlay Endpoint","operationId":"searchPlayers_2","parameters":[{"name":"styleName","in":"path","description":"Name of the map overlay style","required":true,"schema":{"type":"string"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResults"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/live/kits/{kit}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Match Additional Details","description":"Single representation of a specific match, with additional match details, such as team kits, referees and officials","operationId":"getKit","parameters":[{"name":"kit","in":"path","description":"Type of kit","required":true,"schema":{"type":"string"},"example":"referee/home/homeGK/away/awayGK"},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchInfo"}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/images/{uuid}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Image File","description":"Returns an image by a specific uuid. First time, the image is retrieved from COMET, and afterwards it is returned from locally stored version","operationId":"exportImages","parameters":[{"name":"uuid","in":"path","description":"uuid of the file. e.g. e73a46a5-5918-2a92-8a48-fc730718725a","required":true,"schema":{"type":"string"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Picture"}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/competition/{competitionId}/teams":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Competition teams","description":"List of teams participating in the competition. Used for filtering statistics","operationId":"getCompetitionTeams","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the competition is organized by the given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team is participating in the competition or it's elements.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}}}}},"/api/live/competition/{competitionId}/table/unofficial":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Unofficial Competition Table","description":"Unofficial table of clubs/teams for a specific competition, including matches that are not officialised, i.e. set to PLAYED status. If team is playing match at the moment in live mode, there will be a sign of how it's doing in the match (W/D/L)","operationId":"getUnofficialTable","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the competition is organized by the given organization or organizations below. Attribute allowDetail tells the client if it can call team details endpoints (team details, team matches events...). Value of the field depends on tenant/organizationIdFilter/teamIdFilter","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team is participating in the competition or it's elements. Attribute allowDetail tells the client if it can call team details endpoints (team details, team matches events...). Value of the field depends on tenant/organizationIdFilter/teamIdFilter","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompetitionTable"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompetitionTable"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompetitionTable"}}}}}}},"/api/live/competition/{competitionId}/table/official":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Official Competition Table","description":"Official table of clubs/teams for a specific competition. Only officialized (set to PLAYED status) matches are considered. Field 'allowDetail' defines if caller is allowed to call team details endpoints (team details, team matches events...). Value of the field depends on tenant/organizationIdFilter/teamIdFilter","operationId":"getOfficialTable","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID. It will return the data only if the competition is organized by the given organization or organizations below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will return the data only if the team is participating in the competition or it's elements.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompetitionTable"}}}},"500":{"description":"Server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompetitionTable"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompetitionTable"}}}}}}},"/api/live/competition/{competitionId}/stats/yellowCards":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Competition Yellow Cards","description":"Yellow cards in a specific competition, grouped by player. Can be filtered by team","operationId":"getYellowCards","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter the data to return only players from the team or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerStats"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/competition/{competitionId}/stats/yellowCards/{teamId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Competition Yellow Cards","description":"Yellow cards in a specific competition, grouped by player. Can be filtered by team","operationId":"getYellowCards_2","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"teamId","in":"path","description":"COMET ID of the team to filter statistics, e.g. 1032","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter the data to return only players from the team or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerStats"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/competition/{competitionId}/stats/sinBins":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Competition Sin Bins","description":"Sin bins in a specific competition, grouped by player. Can be filtered by team","operationId":"getSinBins","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter the data to return only players from the team or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerStats"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/competition/{competitionId}/stats/sinBins/{teamId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Competition Sin Bins","description":"Sin bins in a specific competition, grouped by player. Can be filtered by team","operationId":"getSinBins_2","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"teamId","in":"path","description":"COMET ID of the team to filter statistics, e.g. 1032","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter the data to return only players from the team or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerStats"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/competition/{competitionId}/stats/redCards":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Competition Red Cards","description":"Red cards in a specific competition, grouped by player. Can be filtered by team","operationId":"getRedCards","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter the data to return only players from the team or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerStats"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/competition/{competitionId}/stats/redCards/{teamId}":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Competition Red Cards","description":"Red cards in a specific competition, grouped by player. Can be filtered by team","operationId":"getRedCards_2","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"teamId","in":"path","description":"COMET ID of the team to filter statistics, e.g. 1032","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter the data to return only players from the team or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the response if it's supported otherwise the fallback language is returned in the response. <br />If the header is left blank (not included in the request) then the default language will be used.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"502":{"description":"Bad Gateway","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionViewModel"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerStats"}}}}},"500":{"description":"Server error","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/live/competition/{competitionId}/stats/ownGoals":{"get":{"tags":["Competition Data API for Live Apps"],"summary":"Competition Own Goals","description":"Own goals in a specific competition, grouped by player. Can be filtered by team","operationId":"getOwnScorers","parameters":[{"name":"competitionId","in":"path","description":"COMET ID of the competition, e.g. 325433","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationIdFilter","in":"query","description":"Organization ID for filtering data. It is required if API_KEY is restricted by organization ID.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamIdFilter","in":"query","description":"Team ID for filtering data. It is required if API_KEY is restricted by team ID. It will filter the data to return only players from the team or teams below.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"API_KEY","in":"header","description":"Authorization access token","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"Language of the response used for translation of dynamic data like registration types, match phases etc.  <br /><br />Use the header on /api/live/{tenant}/preferences to check if the language is supported. It will return it in the re
[...]
