.idle img.ad {
    width: 160px;
    left: 40px;
    top: 131px;
    position: absolute;
}


.idle .idle-clock {
    text-align: center;
    display: inline-block;
    width: 100%;
}


.idle .idle-temperature {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.idle .idle-text-container {
    position: absolute;
    top: 110px;
}

.idle .idle-text-box {
    float: left;
    width: 120px;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    /*padding: 0 20px 0 20px;*/
}

.idle .idle-vikes {
    position: absolute;
    left: 95px;
    top: 20px;
    width: 60px;
}
