.team-player-number {
  width: 25px;
}
.team-player-role {
  width: 80px;
}

div.team-asset-player {
}

.team-asset-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

.team-asset-controller {
}

.team-asset-controller .sub-controller {
}

.team-player {
  display: inline-block;
  vertical-align: top;
}

.team-asset-container button {
}

.team-asset-container .player-input {
  width: 250px;
}

.team-asset-container .player-whole-line {
  height: 35px;
}
