.asset-controller .controls div {
    float: none;
    clear: both;
}

.asset-controller > div {
    display: inline-block;
}

.asset-controller {
    height: 300px;
    width: 1070px;
    overflow: scroll;
    margin: 30px 5px 5px 5px;
    float: left;
}

.asset-controller .view-selector {
    position: absolute;
    top: 105px;
    left: -54px;
    width: 54px;
}

.asset-controller .view-selector button {
    float: right;
}

.asset-controller .controls {
    width: 130px;
    float: left;
}
.asset-controller .controls select {
    width: 130px;
}

.asset-controller .upcoming-assets {
    overflow: hidden;
    width: 500px;
    float: left;
    margin-left: 10px;
}