.asset-controller .controls div {
  float: none;
  clear: both;
}

.asset-controller > div {
  display: inline-block;
  overflow: auto;
}

.asset-controller {
  height: calc(100vh - 110px);
  width: 100%;
  overflow: scroll;
  margin: 0px 5px 5px 5px;
  float: left;
}

.asset-controller .view-selector {
  position: relative;
  float: left;
}

.asset-controller .assettabs {
  clear: both;
  width: 90%;
  float: left;
  margin: 10px;
}

.asset-controller .view-selector button {
  float: left;
}

.asset-controller .controls button {
  background-color: gray;
  color: black;
}

.asset-controller .controls {
  width: 130px;
  float: left;
}
.asset-controller .controls select {
  width: 130px;
}

.asset-controller .upcoming-assets {
  position: relative;
  width: 500px;
  float: left;
  margin-left: 10px;
}
