.asset-controller .controls div {
    float: none;
    clear: both;
}

.asset-controller > div {
    display: inline-block;
}

.asset-controller {
    height: 300px;
    width: 1070px;
    overflow: scroll;
}

.asset-controller .view-selector {
    position: absolute;
    top: 75px;
    left: -60px;
}

.asset-controller .view-selector button {
    float: right;
}

.asset-controller .controls {
    width: 130px;
}
.asset-controller .controls select {
    width: 130px;
}

.asset-controller .upcoming-assets {
    overflow: hidden;
    width: 500px;
}