.removable-asset {
  position: relative;
  background-color: #000000;
  width: 100px;
  height: 73px;
  margin: 1px;
}

.removable-asset-container {
  float: left;
  max-height: 500px;
  overflow-y: scroll;
}

.remove-asset-dropzone {
  float: left;
}

.removable-asset img {
  max-width: 50px;
  max-height: 73px;
  margin: 0 auto;
  display: block;
}

.removable-asset-key-name {
  position: absolute;
  left: 600px;
}
