.controller button {
  background-color: #c0c0c0;
  border: 1px solid black;
  font-size: 15px;
}

.controller {
  position: absolute;
  top: 0px;  
  font-size: 16px;
}

.controller .control-item {
  margin: 1px;
  float: left;
}

.controller .playerControls {
  width:400px;
}

.controller .dummyDiv {
  position: relative;
  top: 0px;
  width: 240px;
  height: 176px;
  float:left;
}

.controller > div {
  border: 1px solid #757575;
  border-radius: 3px;
}

.controller div.control-item > button,
.controller div.control-item > select,
.controller div.control-item > div {
  margin: 2px;
  float: left;
  clear: both;
}

.controller .page-actions {
  position: relative;
  float: left;
}

.controller .asset-controller {
  clear: both;
}

input[type='number']{
  width: 40px;
} 

input.longerInput{
  width: 95px;
}