.team-player-number {
  width: 25px;
}
.team-player-role {
  width: 80px;
}

div.team-asset-player {
  float: none;
}

.team-asset-container {
  float: left;
  margin-left: 40px;
}

.team-asset-controller {
  clear: both;
}

.team-asset-controller .sub-controller {
  clear: both;
}

.team-player {
  float: left;
}

.team-asset-container button {
  clear: none;
  /*height: 22px;*/
}

.team-asset-container .player-input {
  width: 250px;
}

.team-asset-container .player-whole-line{
  height:35px;
}