html,body,#root,#root>div { height: 100%; margin: 0px; padding: 0px; }

.match-controller {
    height: 100%;
}
.match-controller-box {
    width: 29%;
    height: 90%;
    float: left;
    margin: 2%;
    border: 1px solid black;
    border-radius: 25px;
}

.match-controller-button-wrapper {
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-controller-button-wrapper.big {
    height: 66%;
}

.match-controller-box button {
    height: 70%;
    width: 75%;
    font-weight: bold;
    display: block;
    margin: auto auto;
    border: 1px solid black;
    border-radius: 25px;
}

.yellow {
    background-color: #ffdf80;
}

.green {
    background-color: #00e64d
}

.red {
    background-color: #cc0000
}