body {
    /* prevent scrolling */
    overflow: hidden;
}

.App {
  position: absolute;
  height: 176px;
  width: 240px;
  cursor: none;
}

button {
    border:none;
    background-color: transparent;
    font-size: 30px;
}

button:focus {
    outline:0;
}

.overlay-container {
    position: absolute;
    height: 176px;
    width: 240px;
    cursor: none;
}

.overlay-container * {
    margin: 0 auto;
    display: block;
    max-height: 100%;
    max-width: 100%;
}