body {
  /* prevent scrolling */
  /*overflow: hidden;*/
}

html {
  font-size: 100%;
}

.App {
  position: relative;
  cursor: none;
  top: 0px;
  float: left;
  z-index: 999;
}

button {
  border: none;
  background-color: transparent;
  font-size: 15px;
}

button:focus {
  outline: 0;
}

.overlay-container {
  position: absolute;
  cursor: none;
  z-index: 9999;
}

.overlay-container * {
  margin: 0 auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
}
