name: Build and deploy

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: c-hive/gha-yarn-cache@v1

        run: echo "RESTART_TOKEN=$(uuidgen)" >> $GITHUB_ENV

      - name: Restart
        # if: github.ref == 'refs/heads/master'
        uses: w9jds/firebase-action@master
        with:
          args: database:set /fotbolti/controller/refreshToken -f -d '"${{ env.RESTART_TOKEN }}"'
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: vikes-match-clock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Format
        run: npx prettier -c src cypress

      - name: Build
        run: yarn build

      - name: Cypress run
        uses: cypress-io/github-action@v2
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          start: npx serve -s build
          record: ${{ secrets.CYPRESS_RECORD_KEY != '' }}
          config: baseUrl=http://localhost:5000

      - name: Deploy
        if: github.ref == 'refs/heads/master'
        uses: reggionick/s3-deploy@v3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          folder: build
          bucket: ${{ secrets.FRONTEND_BUCKET }}
          bucket-region: eu-west-1
          delete-removed: true
          private: true
          dist-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
          invalidation: index.html

  notify:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - build
    steps:
      - uses: actions/checkout@v2

      - name: Set error color
        if: needs.build.result != 'success'
        run: echo "SLACK_COLOR=#FF0000" >> $GITHUB_ENV

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_USERNAME: Vikes matchclock
          SLACK_ICON_EMOJI: ":vikes:"
          SLACK_TITLE: Vikes github actions run
          SLACK_FOOTER: "Eurovikes"
